@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');
@import 'variables.scss';

body, html {
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p, b, strong, a {
    font-size: 1.6rem;
}

b, strong {
    font-weight: 600;
}

h4, h5, h6 {
    font-size: 1.8rem;
} 

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

.o-main-title {
    font-weight: 700;
    font-size: 2.5rem;
}

.o-container {
    max-width: 300px;
    margin: 0 auto;
    
    @media(min-width: 800px) {
        max-width: 750px;
    }
    
    @media(min-width:1200px) {
        max-width: 1150px;
    }

    &--space-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.c-app__main-title {
    display: block;
    position: relative;
    font-size: 3rem;
    color: $gray;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.5rem;

    &:after {
        content: '';
        display: block;
        position: relative;
        background-color: $gray;
        left: 10%;
        bottom: -0.5rem;
        width: 80%;
        height: 3px;
        opacity: 0.7;
    }
}

.c-app__sub-title {
    margin-top: 0;
    color: $gray;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
}

.c-app__title-container {
    position: relative;
    border: 5px dashed $gray;
}

.c-app__title-author {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.75rem;
    font-style: italic;
}